DATABASE_URL="postgresql://user:Passw0rd!@localhost:5432/notepia"
POSTGRES_USER="user"
POSTGRES_PASSWORD="Passw0rd!"
SESSION_SECRET="n0tepi@"
MAPBOX_TOKEN="pk.*"
MINIO_URL="localhost"
MINIO_USER="admin"
MINIO_PASSWORD="Passw0rd!"
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=